---
import Contacts from "../components/Home/Contacts.astro";
import { getCollection } from "astro:content";
import OpenSourceCard from "../components/ui/OpenSourceCard.astro";
import HeroSection from "../components/Home/HeroSection.astro";
import MainLayout from "../layouts/MainLayout.astro";
import ProjectSection from "./ProjectSection.astro";

const open_source = (await getCollection("open_source")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

const project = (await getCollection("project")).sort((a, b) => {
  return a.data.pubDate?.valueOf() - b.data.pubDate?.valueOf();
});
---

<MainLayout>
  <HeroSection />
  <div class="bg-repeat flex flex-col gap-16">
    <div class="w-full">
      <Contacts />
    </div>

    <div>
      <h2 class="text-white">Open Source Contribution</h2>
      <div class="flex gap-4 overflow-auto">
        {
          open_source.map((open_source) => (
            <OpenSourceCard {...open_source.data} />
          ))
        }
        <img
          src="/farmer_meme.webp"
          alt="Farmer meme"
          class="h-96 self-center"
        />
      </div>
    </div>
    <ProjectSection project={project} />
  </div>
</MainLayout>
