---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Contacts from "../components/Home/Contacts.astro";
import ProjectCard from "../components/ui/ProjectCard.astro";
import { getCollection } from "astro:content";
import OpenSourceCard from "../components/ui/OpenSourceCard.astro";
import HeroSection from "../components/Home/HeroSection.astro";

const open_source = (await getCollection("open_source")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

const project = (await getCollection("project")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="">
    
    <main class="w-full bg-repeat bg-wiggle bg-slate-800 p-6">
      <Header title={SITE_TITLE} />
      <HeroSection />
      <div class="bg-repeat">
        <div class="w-full">
          <Contacts />
        </div>
        <div>
          <h2 class="text-white">Projects</h2>
          <div class="flex gap-4 items-center overflow-auto">
            {project.map((project) => <ProjectCard {...project.data} />)}
          </div>
        </div>
        <div>
          <h2 class="text-white">Open Source Contribution</h2>
          <div class="flex gap-4 items-center overflow-auto">
            {
              open_source.map((open_source) => (
                <OpenSourceCard {...open_source.data} />
              ))
            }
            <img src="/farmer_meme.webp" alt="Farmer meme" class="h-96" />
          </div>
          <div>
            <h2>Continue Improvements</h2>
          </div>
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
