---
import { Icon } from "astro-icon/components";
---

<footer class="flex flex-col items-center pt-24 pb-12 bg-gradient-to-t from-white to-slate-800">
  <p>Sorry for the long page, here is a potato 🥔</p>
  <div class="flex">
    <a href="https://github.com/eiffelwong1" target="_blank">
      <span class="sr-only">Go to Sing Wong's GitHub repo</span>
      <Icon name="mdi:github" class="w-8 h-8 text-[#181717]" />
    </a>
    <a href="https://www.linkedin.com/in/sing-wong-378934b8/" target="_blank">
      <span class="sr-only">Go to Sing Wong's LinkedIn profile</span>
      <Icon name="mdi:linkedin" class="w-8 h-8 text-[#0A66C2]" />
    </a>
  </div>
</footer>
